@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");



.titleContain {
    text-align: left;
    margin-left:  27.65625vw;
    width: 39.0625vw;
    color: white;
    font-family: Roboto, Regular;
    h1:after{
        content: "";
        display: block;
        bottom: 0;
        left: 0;
        height: 3px;
        background-color: white;
        background-image: linear-gradient(to right, white 40%, #F26633 40%, #F26633 60%, white 60%);
        
      }
    
}


// .aside{
//     display: grid;
//     grid-template-rows:  9.477vh repeat(3,27.76831345826235vh) ;
//     gap: 4.770017035775128vh;
//     font-family: Roboto, Regular;    
//     color: white;
//     width: 19.21875vw;
//     top: 46.22vh;
//     left: 72.69vw;
//     .categorieTitle{
//         text-align: center;
//         font-size: 20px;
        
//     }
//     .categorie{
//         background: url('../images/test.jpg');
//         background-size:  19.21875vw 27.76831345826235vh;
//         width: 19.21875vw;
//         height: 27.76831345826235vh;
//         display: flex;
//         align-items: center;
//         justify-content: space-around;
//         h2{
//             width: 19.21875vw;
//             text-align: center;
//             background: transparent;
//             opacity: 0.8;
//             backdrop-filter: blur(30px);
//         }
//     }
// }
.aside{
    display: grid;
    grid-template-rows:  6.473594548551959vh 83.30494037478705vh;
    font-family: Roboto, Regular;    
    color: white;
    width: 19.21875vw;
    text-align: center;
    gap: 3.770017035775128vh;

    .catWrapper{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        gap: 4.770017035775128vh;
        overflow: hidden;
        
        .categorie{
            background: url('../images/test.jpg');
            background-size:  19.21875vw 27.76831345826235vh;
            width: 19.21875vw;
            height: 27.76831345826235vh;
            display: flex;
            align-items: center;
            justify-content: space-around;
            h2{
                width: 19.21875vw;
                text-align: center;
                background: transparent;
                opacity: 0.8;
                backdrop-filter: blur(30px);
            }
        }
        .categorieTitle{
            font-size: 20px;
            height: 6.473594548551959vh;
        }
    }
}