@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.titleContain {
  text-align: left;
  margin-left: 27.65625vw;
  width: 47.03125vw;
  color: white;
  line-height: 1;
  text-transform: uppercase;
  font-family: Roboto, Regular;
}
@media (max-width: 450px) {
  .titleContain {
    margin-left: 5%;
    width: 85%;
  }
}
.titleContain h1:after {
  content: "";
  display: block;
  height: 3px;
  margin-top: 3vh;
  background-color: white;
  background-image: linear-gradient(to left, #F26633 20%, white 20%);
}
.titleContain h1 {
  font-size: 40px;
}

.contactWrapper {
  background: linear-gradient(to left, rgba(255, 255, 255, 0.6) -100%, transparent 65%);
  backdrop-filter: blur(20px);
}

.container {
  width: 62.65625vw;
  margin-left: 29.0625vw;
  color: white;
  height: 58vh;
  font-family: Roboto, Regular;
  display: grid;
  grid-template-columns: repeat(3, 18.5vw);
  grid-template-rows: repeat(9, 7vh);
}
@media (max-width: 450px) {
  .container {
    width: 85%;
    height: auto;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(13, 1fr);
    column-gap: 8vw;
  }
}

.contact {
  margin-top: 2vh;
  width: 10.203125vw;
  height: 5.1107325383vh;
  grid-area: 1/1/2/2;
}
@media (max-width: 450px) {
  .contact {
    grid-area: 1/1/2/2;
    width: 100%;
    height: auto;
  }
}

.devis {
  margin-top: 2vh;
  width: 13.75vw;
  grid-area: 1/1/2/3;
  justify-self: center;
}
@media (max-width: 450px) {
  .devis {
    grid-area: 1/2/2/3;
    width: 100%;
    height: auto;
  }
}

.devis:hover {
  background-color: #F26633;
  color: white;
}

.contact:hover {
  background-color: #F26633;
  color: white;
}

.devis:focus {
  color: white;
  background-color: #F26633;
}

.contact:focus {
  color: white;
  background-color: #F26633;
}

.social {
  margin-top: 2vh;
  grid-area: 1/2/2/4;
  justify-self: center;
  color: white;
  font-size: 5vh;
  display: flex;
  gap: 2vw;
}
@media (max-width: 450px) {
  .social {
    grid-area: 13/1/14/3;
    width: auto;
    height: auto;
  }
}

.social .fb:hover {
  color: #F26633;
}

.social .insta:hover {
  color: #F26633;
}

.social .messenger:hover {
  color: #F26633;
}

.social .whatsapp:hover {
  color: #F26633;
}

.name {
  margin-top: 2vh;
  grid-area: 2/1/3/2;
}
@media (max-width: 450px) {
  .name {
    grid-area: 2/1/3/2;
    margin-top: 3.4071550256vh;
  }
}

.nameInput {
  margin-top: -2vh;
  grid-area: 3/1/4/2;
}
@media (max-width: 450px) {
  .nameInput {
    grid-area: 3/1/4/2;
  }
}

.tel {
  grid-area: 2/2/3/3;
  margin-top: 2vh;
}
@media (max-width: 450px) {
  .tel {
    grid-area: 4/2/5/3;
    margin-top: 3.4071550256vh;
  }
}

.telInput {
  margin-top: -2vh;
  grid-area: 3/2/4/3;
}
@media (max-width: 450px) {
  .telInput {
    grid-area: 5/2/6/3;
  }
}

.jointe {
  margin-top: 2vh;
  grid-area: 2/3/3/4;
  justify-self: center;
}
@media (max-width: 450px) {
  .jointe {
    grid-area: 6/1/7/2;
    margin-top: 3.4071550256vh;
    justify-self: left;
  }
}

.mail {
  grid-area: 4/1/5/2;
}
@media (max-width: 450px) {
  .mail {
    grid-area: 2/2/3/3;
    margin-top: 3.4071550256vh;
  }
}

.mailInput {
  margin-top: -4vh;
  grid-area: 5/1/6/2;
}
@media (max-width: 450px) {
  .mailInput {
    grid-area: 3/2/4/3;
  }
}

.adresse {
  grid-area: 6/1/7/2;
}
@media (max-width: 450px) {
  .adresse {
    grid-area: 4/1/5/2;
    margin-top: 3.4071550256vh;
  }
}

.adresseInput {
  margin-top: -4vh;
  grid-area: 7/1/8/2;
}
@media (max-width: 450px) {
  .adresseInput {
    grid-area: 5/1/6/2;
  }
}

.msgLabel {
  grid-area: 4/2/5/3;
}
@media (max-width: 450px) {
  .msgLabel {
    grid-area: 8/1/9/3;
    margin-top: 3.4071550256vh;
    margin-left: 5vw;
  }
}

.msgArea {
  margin-top: -4vh;
  grid-area: 5/2/7/3;
  margin-bottom: -2vh;
}
@media (max-width: 450px) {
  .msgArea {
    grid-area: 9/1/12/3;
  }
}

.addIcon {
  grid-area: 0/4/8/4;
  justify-self: end;
  align-self: end;
  border-radius: 5px;
  margin-top: -5vh;
}
.addIcon .add {
  border-radius: 5px;
  margin: 0 auto;
  width: 95%;
  height: 95%;
}

.addIcon:hover {
  border-radius: 5px;
  border: 2px solid white;
}

.imgPreviewContain {
  grid-area: 0/3/5/4;
  display: flex;
  justify-self: center;
  gap: 1vw;
}

.imgPreview {
  height: 6.9846678024vh;
  width: 7.203125vw;
  border-radius: 5px;
  opacity: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media (max-width: 450px) {
  .imgPreview {
    width: 38px;
    height: 38px;
    justify-self: left;
  }
}
.imgPreview img {
  margin-left: 0;
  height: 6.9846678024vh;
  width: 3.203125vw;
}
@media (max-width: 450px) {
  .imgPreview img {
    width: 38px;
    height: 38px;
  }
}

.imgPreview:hover {
  border-radius: 5px;
  border: 2px solid #F26633;
}

.btnEnvoyer {
  align-self: center;
  justify-self: center;
  background: var(--unnamed-color-f26633) 0% 0% no-repeat padding-box;
  border: 2px solid var(--unnamed-color-f26633);
  background: #F26633 0% 0% no-repeat padding-box;
  border: 2px solid #F26633;
  border-radius: 13px;
  opacity: 1;
  width: 9.0625vw;
  height: 4.4293015332vh;
  margin-top: 7vh;
  grid-area: 7/3/6/4;
  color: white;
}
@media (max-width: 450px) {
  .btnEnvoyer {
    grid-area: 12/1/13/3;
    width: auto;
    height: auto;
  }
}

.btnEnvoyer:hover {
  background-color: white;
  color: black;
}

input {
  height: 5.1107325383vh;
  width: 13.359375vw;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  opacity: 1;
}
@media (max-width: 450px) {
  input {
    width: 100%;
    height: 5.1107325383vh;
  }
}

input:focus {
  outline: none !important;
  border-radius: 5px;
  border: 2px solid #F26633;
}

input::placeholder {
  padding-left: 0.5vw;
}

label {
  height: 3.4071550256vh;
  width: 10vw;
  text-align: left;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
}
@media (max-width: 450px) {
  label {
    width: auto;
    font-size: 14px;
  }
}

textarea {
  width: 19.140625vw;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  opacity: 1;
}
@media (max-width: 450px) {
  textarea {
    width: 100%;
    height: auto;
  }
}

textarea:focus {
  outline: none !important;
  border-radius: 5px;
  border: 2px solid #F26633;
}

button {
  height: 5.1107325383vh;
  text-decoration: none;
  outline: none;
  border: none;
  box-shadow: none;
  background-color: white;
  border-radius: 6px;
  opacity: 1;
  text-align: center;
  color: #262626;
  text-transform: uppercase;
  opacity: 1;
}
@media (max-width: 450px) {
  button {
    width: 100%;
    height: 5.1107325383vh;
  }
}

input[type="text"]
{
    font-size: 1.8vh !important;
    
}

input[type="number"]
{
    font-size: 1.8vh !important;
}

input[type="email"]
{
    font-size: 1.8vh !important;
}

input[type="button"]
{
    font-size: 1.8vh !important;
}


/*# sourceMappingURL=contact2.module.css.map */
