@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.titleContain {
    margin-left: 27.578125vw;
    width: 39.0625vw;
    color: white;
    font-family: Roboto, Regular;
    @media (max-width: 450px){
        margin-left: 5%;
        width: 85%;
    }
    h1:after{
        content: "";
        display: block;
        bottom: 0;
        left: 0;
        height: 3px;
        background-color: white;
        background-image: linear-gradient(to left, #F26633 20%, white 20%);
        
    }
    h1{
        font-size: 6.814310051107325vh;
        @media (max-width: 450px){
        font-size: 3.4071550255536627vh;
        width: 85%;
        }
      }
}

.contactWrapper{
    background:  linear-gradient(to left, rgb(255, 255, 255 , 0.6) -100%, transparent 65% );
    backdrop-filter: blur(20px);
    
}
.container{
    width: 52.65625vw;
    margin-left: 29.0625vw;
    color: white;
    font-family: Roboto, Regular;
    display: grid;
    
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    @media (max-width: 450px){
        width: 85%;
        height: auto;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(13, 1fr);
        column-gap: 8vw;
    }
    * {
        margin-left: 2vw;
    }
     
}
.contact{
    margin-top: 2vh;
    
    width: 8.203125vw;
    height: 5.1107325383304945vh;
    grid-area: 1 / 1 / 2 / 2;
    @media (max-width: 450px){
        grid-area: 1 / 1 / 2 / 2;
        width: 100%;
        height: auto;
    }
}
.devis{
    margin-top: 2vh;
    
    width: 13.75vw;
    grid-area: 1 / 2 / 2 / 3;
    @media (max-width: 450px){
        grid-area: 1 / 2 / 2 / 3;
        width: 100%;
        height: auto;
    }
} 
.social{
    margin-top: 2vh;
    grid-area: 1 / 3 / 2 / 4;
    width: 12.1875vw;
    color: white;
    font-size: 5vh;
    display: flex;
    justify-content: space-around;
    @media (max-width: 450px){
        grid-area: 13 / 1 / 14 / 3;
        width: auto;
        height: auto;
    }  
}
.social .fb:hover{
    color: #F26633;
}
.social .insta:hover{
    color: #F26633;
}
.social .messenger:hover{
    color: #F26633;
}
.social .whatsapp:hover{
    color: #F26633;
}
.name{
    margin-top: 5.621805792163544vh;
    grid-area: 2 / 1 / 3 / 2;
    @media (max-width: 450px){
        grid-area: 2 / 1 / 3 / 2;
        margin-top:3.4071550255536627vh;
    }
}
.nameInput{
    grid-area: 3 / 1 / 4 / 2;
    @media (max-width: 450px){
        grid-area: 3 / 1 / 4 / 2;
    }
}
.tel{
    grid-area: 2 / 2 / 3 / 3;
    margin-top: 5.621805792163544vh;
    @media (max-width: 450px){
        grid-area: 4 / 2 / 5 / 3;
        margin-top:3.4071550255536627vh;
    }
}
.telInput{
    grid-area: 3 / 2 / 4 / 3;
    @media (max-width: 450px){
        grid-area: 5 / 2 / 6 / 3;
    }
}
.jointe{
    margin-top: 5.621805792163544vh;
    grid-area: 2 / 2 / 3 / 4;
    justify-self: right;
    @media (max-width: 450px){
        grid-area: 6 / 1 / 7 / 2;
        margin-top:3.4071550255536627vh;
        justify-self: left;
    }
}
.jointeInput{
    justify-self: right;
    grid-area: 3 / 2 / 4 / 4;
    @media (max-width: 450px){
        grid-area: 7 / 1 / 8 / 2;
        justify-self: left;
        
    }
}
.mail{
    margin-top: 5.621805792163544vh;
    grid-area: 4 / 1 / 5 / 2;
    @media (max-width: 450px){
        grid-area: 2 / 2 / 3 / 3;
        margin-top:3.4071550255536627vh;
    }
}
.mailInput{
    grid-area: 5 / 1 / 6 / 2;
    @media (max-width: 450px){
        grid-area: 3 / 2 / 4 / 3;
    }
}
.adresse{
    margin-top: 5.621805792163544vh;
    grid-area: 6 / 1 / 7 / 2;
    @media (max-width: 450px){
        grid-area: 4 / 1 / 5 / 2;
        margin-top:3.4071550255536627vh;
    }
}
.adresseInput{
    grid-area: 7 / 1 / 8 / 2;
    @media (max-width: 450px){
        grid-area: 5 / 1 / 6 / 2;
    }
}
.msgLabel{
    margin-top: 5.621805792163544vh;
    grid-area: 4 / 2 / 5 / 3;
    @media (max-width: 450px){
        grid-area: 8 / 1 / 9 / 3;
        margin-top:3.4071550255536627vh;
        
        margin-left: 5vw;
    }
}
.msgArea{
    grid-area: 5 / 2 / 8 / 3;
    @media (max-width: 450px){
        grid-area: 9 / 1 / 12 / 3;
        
    }
}
.addItem{
    justify-self: center;
    align-items: center;
    grid-area: 4 / 3 / 7 / 4;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    
    @media (max-width: 450px){
        grid-area: 6 / 2 / 8 / 3;
        display:grid;
        grid-template-columns: repeat(2,1fr);
        height: auto;
        width: auto;
        margin-top: 5.621805792163544vh;
    }
    .addBtn{  
        grid-column: 2;
        width: 3.359375vw;
        height: 7.325383304940375vh;
        color: transparent;
        background-color: transparent;
        @media (max-width: 450px){
            width: 100%;
            height: auto;
            justify-self: right;


        }
        
    }
    .add{
        font-size: 5vh;
        border-radius: 5px;
        color: #F26633;
        width: 3.359375vw;
        height: 7.325383304940375vh;
        margin: 0;
        opacity: 1;
        @media (max-width: 450px){
            width: auto;
            height: auto;
            
        }
    }
    .add:hover{
        border-radius: 5px;
        border: 2px solid #F26633;
    }
    
    .imgPreview{
        background-color: white;
        height: 6.984667802385008vh;
        width: 3.203125vw;
        border-radius: 5px;
        opacity: 1;
        border: 2px solid gray;
        grid-column: 1;
        @media (max-width: 450px){
            width: 38px;
            height: 38px;
            justify-self: left;

        }
        
        
        img{
            margin-left: 0;
            height: 6.984667802385008vh;
            width: 3.203125vw;
            @media (max-width: 450px){
                width: 38px;
                height: 38px;
            }
        }
    }
}
.imgPreview:hover{
    border-radius: 5px;
    border: 2px solid #F26633;
}
.btnEnvoyer{
    align-self: center;
    justify-self: center;
    background: var(--unnamed-color-f26633) 0% 0% no-repeat padding-box;
    border: 2px solid var(--unnamed-color-f26633);
    background: #F26633 0% 0% no-repeat padding-box;
    border: 2px solid #F26633;
    border-radius: 13px;
    opacity: 1;
    width:  9.0625vw;
    height: 4.429301533219761vh;
    grid-area: 7 / 3 / 8 / 4;
    @media (max-width: 450px){
        grid-area: 12 / 1 / 13 / 3;
        width: auto;
        height: auto;
    }
    
}
.btnEnvoyer:hover{
    background-color: white;
}
input{
    height: 5.1107325383304945vh;
    width: 13.359375vw;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    opacity: 1;
    @media (max-width: 450px){
        width: 100%;
        height: 5.1107325383304945vh;
    }
    
}
input:focus{
    outline: none !important;
    border-radius: 5px;
    border: 2px solid #F26633;
}
label{
    height: 3.4071550255536627vh;
    width: 10vw;
    text-align: left;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    @media (max-width: 450px){
        width: auto;
        font-size: 14px;
    }
}
textarea{
    width: 19.140625vw;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    opacity: 1;
    @media (max-width: 450px){
        width: 100%;
        height: auto;
        
    }
}
textarea:focus{
    outline: none !important;
    border-radius: 5px;
    border: 2px solid #F26633;
}
button{
    height: 5.1107325383304945vh;
    text-decoration: none; 
    outline:none; 
    border: none; 
    box-shadow: none; 
    background-color: white;
    border-radius: 6px;
    opacity: 1; 
    text-align: center;
    color: #262626;
    text-transform: uppercase;
    opacity: 1;
    @media (max-width: 450px){
        width: 100%;
        height: 5.1107325383304945vh;
    }
      
}
button:hover{
    background-color: #F26633;
}

    

