.contactWrapper{
    background-color: red;
}
.title {
    top: 180px;
    left: 353px;
    width: 337px;
    height: 48px;
    color: white;
    position: relative;
}
.container {
    top: 289px;
    left: 387px;
    width: 100vw;
    height: 328px;

    color: white;
}
.first {
    width: 400px;
    justify-content: space-around;
    display: flex;
}
.second {
    width: 550px;
    display: flex;
    position: relative;
    justify-content: space-between;
    top: 55px;
    left: 40px;
}
.third {
    width: 590px;
    justify-content: space-between;
    display: flex;
    position: relative;
    top: 85px;
    left: 40px;
}
.fourth {
    width: 295px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 125px;
    left: 40px;
}
.five {
    width: 450px;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 155px;
    left: 115px;
}
.mailinp{
    position: relative;
    top: 155px;
    left: 40px;
}
.sixth {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 195px;
    flex-direction: column;
    left: 40px;
}
.seventh {
    position: relative;
    top: 145px;
    left: 475px;
    display: flex;
    justify-content: space-evenly;
    width: 100px;
}
.addBtn {
    width: 41px;
    height: 41px;
    background-color: orange;
}
.confirm{
    position: relative;
    top: 220px;
    left: 530px;
}
.btnEnvoyer{
    font: var(--unnamed-font-style-normal) normal bold 16px/19px var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal bold 16px/19px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    background-color: orange;
    border-radius: 10px;
}