@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.titleContain {
  margin-left: 10vw;
  text-transform: uppercase;
  width: 43.0625vw;
  color: white;
  font-family: Roboto, Regular;
  line-height: 1;
}
@media (max-width: 768px) {
  .titleContain {
    margin-left: 5%;
    width: 85%;
  }
}
.titleContain h1 {
  font-size: 40px;
  font-weight: normal;
}

.titleContain span {
  display: block;
}
.titleContain h1:after {
  content: "";
  display: block;
  height: 2px;
  margin-top: 3vh;
  width: 85%;
  background-color: white;
  background-image: linear-gradient(to right, #F26633 20%, white 20%);
}

.BlockContent::-webkit-scrollbar-thumb {
  background-color: #F26633;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
}

.BlockContent::-webkit-scrollbar-track {
  background: white;
  /* color of the tracking area */
  border-radius: 20px;
}

.BlockContent::-webkit-scrollbar {
  width: 0.4vw;
  /* width of the entire scrollbar */
}

.BlockContent {
  margin-left: 10vw;
  display: flex;
  flex-direction: column;
  font-family: Roboto, Regular;
  font-size: 2.3850085179vh;
  height: 46vh;
  overflow-y: scroll;
  color: white;
  margin-right: 3.4296875vw;
  scrollbar-width: thin;
  scrollbar-color: #F26633 white;
  margin-top: -3vh;
}

.BlockContent .bloc1 h1{
  font-family: Roboto, Regular;
  font-size: 19px;
  text-transform: uppercase;
}

.BlockContent .bloc1 p{
  font-family: Roboto;
  width: 45vw;
  font-size: 16px;
  font-weight: lighter !important;
}

@media (max-width: 768px) {
  .BlockContent {
    font-size: 3.4071550256vh;
    display: block;
    height: auto;
    overflow-y: unset;
    margin-left: 5%;
    width: 85%;
  }
}
@media (max-width: 768px) {
  .BlockContent .bloc1 {
    font-size: 2.5553662692vh;
  }
  .BlockContent .bloc1 p{
    width: auto;
  }
}
@media (max-width: 768px) {
  .BlockContent .bloc1 div {
    display: flex;
    flex-direction: column;
  }
}
.BlockContent .bloc1 div img {
  width: 154px;
  height: 245px;
  float: right;
  padding-left: 2vw;
  margin-top: 1vh;
}
@media (max-width: 768px) {
  .BlockContent .bloc1 div img {
    float: none;
    margin-left: 33%;
    margin-right: 10vw;
  }
}
.BlockContent .bloc1 div p:nth-child(3) {
  order: -1;
}
.BlockContent .bloc1 div h1:nth-child(1) {
  order: -2;
}

@media (max-width:768px) {
  .titleContain h1 {
    font-size: 20px;
    letter-spacing: normal;
    font-family: Roboto, Regular;
  }
  .titleContain span {
    display: block;
  }
  .titleContain h1::after{
    margin-top: 1vh;
  }
  .titleContain {
    margin-bottom: 3vh;
    margin-top: 3vh;
  }
  .bloc1 p {
    font-size: 15px;
    width: 100vw;
    font-family: Roboto, Regular;
  }  
}

.aside {
  width: 43.8020833333vw;
  height: 100vh;
  margin-top: -28vh;
  margin-left: -8vw;
}

@media (max-width: 768px) {
  .aside {
    display: none;
  }
}

/*# sourceMappingURL=index.module.css.map */
