@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.titleContain {
  margin-left: 43.81875vw;
  width: 39.0625vw;
  color: white;
  font-family: Roboto, Regular;
  @media (max-width: 450px){
    margin-left: 5%;
    width: 85%;
  }
  h1:after{
    content: "";
    display: block;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: white;
    background-image: linear-gradient(to right, #F26633 20%, white 20%);
    
  }
  h1{
    font-size: 6.814310051107325vh;
    @media (max-width: 450px){
    font-size: 3.4071550255536627vh;
    width: 85%;
    }
  }
}

.BlockContent::-webkit-scrollbar-thumb {
    background-color: #F26633; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
}
.BlockContent::-webkit-scrollbar-track {
  background: white; /* color of the tracking area */
  border-radius: 20px;
}
.BlockContent::-webkit-scrollbar {
  width: 0.4vw; /* width of the entire scrollbar */
}
.BlockContent {
  display: flex;
  flex-direction: column;
  font-family: Roboto, Regular;
  font-size: 2.385008517887564vh;  
  height: 54.34412265758092vh;  
  overflow-y: scroll;
  color: white;
  margin-right: 3.4296875vw;

  @media (max-width: 450px){
    font-size: 3.4071550255536627vh;
    display: block;
    height: auto;
    overflow-y: unset;
    margin-left: 5%;
    width: 85%;
    }
  .bloc1{
    display: block;
    @media (max-width: 450px){
      font-size: 2.5553662691652472vh;      
    }
    div{
      @media (max-width: 450px){
        display: flex;
        flex-direction: column;
      }
      img{
        width: 151px; 
        height: 240px;
        float: right;
        @media (max-width: 450px){
          float: none;


          margin-left: 10vw;
          margin-right: 10vw;
        }
      }
      p:nth-child(3){
        order: -1;
      }
      h1:nth-child(1){
        order: -2;
      }  
    }
  }
  // .bloc1 div p:first-child{
  //   background-color: green;
  //   @media (max-width: 450px){
  //     order: 2;
  //     background-color: green;
      
      
  //   }
  // }
      // p{
      //   @media (max-width: 450px){
      //     position: relative;
      //     top: -95vh;
      //   }
      // }
      //premier paragraphe
      // //2ieme paragraphe
      // p:nth-child(5){
      //   @media (max-width: 450px){
      //     position: relative;
      //     margin-top: 100vh;
          
      //   }
      // }
      // //3ieme paragraphe
      // p:nth-child(7){
      //   @media (max-width: 450px){
      //     position: relative;
      //     margin-top: 100vh;
          
      //   }
      // }
      // //2ieme titre
      // h1:nth-child(4){
      //   @media (max-width: 450px){
      //     position: relative;
      //     margin-top: -40vh;
          
      //   }
      // }
      // h1:nth-child(6){
      //   @media (max-width: 450px){
      //     position: relative;
      //     margin-top: -90vh;
          
      //   }
      // }
       
    // }
  
}
