@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.titleContain {
  margin-left: 43.81875vw;
  text-transform: uppercase;
  width: 43.0625vw;
  color: white;
  font-family: Roboto, Regular;
  line-height: 1;
  @media (max-width: 450px){
    margin-left: 5%;
    width: 85%;
  }
  h1{
    font-size: 40px;
  }
  h1:after{
    content: "";
    display: block;
    height: 3px;
    margin-top: 3vh;
    background-color: white;
    background-image: linear-gradient(to right, #F26633 20%, white 20%);
  }
  
}

.BlockContent::-webkit-scrollbar-thumb {
  background-color: #F26633; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
    
}
.BlockContent::-webkit-scrollbar-track {
  background: white; /* color of the tracking area */
  border-radius: 20px;
  
  
}
.BlockContent::-webkit-scrollbar {
  width: 0.4vw; /* width of the entire scrollbar */
  
}
.BlockContent {
  display: flex;
  flex-direction: column;
  font-family: Roboto, Regular;
  font-size: 2.385008517887564vh;  
  height: 53.34412265758092vh;  
  overflow-y: scroll;
  color: white;
  margin-right: 3.4296875vw;
  scrollbar-width: thin;
  scrollbar-color: #F26633 white;
  
  
  

  @media (max-width: 450px){
    font-size: 3.4071550255536627vh;
    display: block;
    height: auto;
    overflow-y: unset;
    margin-left: 5%;
    width: 85%;
    }
  .bloc1{
    
    @media (max-width: 450px){
      font-size: 2.5553662691652472vh;      
    }
    div{
      @media (max-width: 450px){
        display: flex;
        flex-direction: column;
      }
      img{
        width: 151px; 
        height: 240px;
        float: right;
        @media (max-width: 450px){
          float: none;
          margin-left: 10vw;
          margin-right: 10vw;
        }
      }
      p:nth-child(3){
        order: -1;
      }
      h1:nth-child(1){
        order: -2;
      }  
    }
  } 
}
