@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.titleContain {
  margin-left: 43.81875vw;
  width: 39.0625vw;
  color: white;
  font-family: Roboto, Regular;
  border-bottom: solid 3px;
  

}

.BlockContent::-webkit-scrollbar-thumb {
    background-color: #F26633; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
}
.BlockContent::-webkit-scrollbar-track {
  background: white; /* color of the tracking area */
  border-radius: 20px;
}
.BlockContent::-webkit-scrollbar {
  width: 0.4vw; /* width of the entire scrollbar */
}
.BlockContent {
  margin-top: 4.810902896081772vh;
  font-family: Roboto, Regular;
  font-size: 14px;  
  width: 39.0625vw;
  height: 35.68532206969377vh;  
  overflow-y: scroll;
  // scrollbar-color: #F26633 white;
  // scrollbar-width: thin ;
  color: white;

}
.bloc1{
  display: flex;
}
.bloc1 img {
  margin-top: 40px;
  margin-left: 10px;
}
.bloc1 div{
  max-width: 420px;
  font-size: 15px;
}