@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.galery {
  height: 96.4224872232vh;
  width: 57.421875vw;
}

.activated {
  background-color: #F26633 !important;
}

.titleContain {
  margin-left: 43.81875vw;
  width: 43.0625vw;
  color: white;
  font-family: Roboto, Regular;
  line-height: 1;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .titleContain {
    margin-left: 5%;
    width: 85%;
  }
}
.titleContain h1:after {
  content: "";
  display: block;
  height: 2px;
  margin-top: 2vh;
  width: 85%;
  background-color: white;
  background-image: linear-gradient(to right, white 20%, #F26633 20%, #F26633 40%, white 40%);
  margin-bottom: 8vh;
}
.titleContain .title span {
  display: block;
}
.titleContain h1 {
  font-size: 40px;
  font-weight: 200;
}

@media (max-width: 768px) {
  .titleContain h1 {
    font-size: 20px;
    font-family: Roboto, Regular;
    font-weight: normal;
  }
  .titleContain .title span {
    display: inline-flex;
  }
  .titleContain {
    margin-bottom: 3vh;
    margin-top: 3vh;
  }
  .titleContain h1:after {
    margin-top: 1vh;
  }
}

.buttonGalerie {
  align-self: center;
  border: #F26633;
  border-radius: 20px;
  background-color: #F26633;
  color: white;
  height: 3.066439523vh;
  width: 9.140625vw;
}

.BlockContent {
  font-family: Roboto, Regular;
  justify-content: space-evenly;
  column-gap: 2.5vw;
  margin-left: 3vw;
  font-size: 14px;
  display: flex;
  color: white;
}
@media (max-width: 768px) {
  .BlockContent {
    flex-direction: column;
    row-gap: 5vh;
    margin-top: 1vh;
  }
}
.BlockContent .iconeMenu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  transform: rotate(45deg);
  gap: 1vh;
  align-self: flex-start;
}
@media (max-width: 768px) {
  .BlockContent .iconeMenu {
    align-self: center;
    
  }
}
.BlockContent .iconeMenu div {
  cursor: pointer;
  background-color: #F26633;
  border: #F26633 solid 4px;
  border-radius: 4px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.BlockContent .iconeMenu div {
  background-color: #F26633;
  border: #F26633 solid 4px;
  border-radius: 4px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.BlockContent .iconeMenu img {
  width: 35px;
  height: auto;
}
.BlockContent .contenu{
  height: 45vh;
  display: flex;
  flex-direction: column;
  margin-left: 1vw;
}
.BlockContent .contenu h1 {
  color: #F26633;
}




@media (max-width: 768px) {
  .BlockContent .contenu {
    text-align: center;
    margin:0 auto;
    height: auto;
   
  }
  .BlockContent .contenu button {
    margin: 2vh;
  }
}
.BlockContent .iconContent1 {
  grid-row-start: 1;
  grid-column-start: 1;
}
.BlockContent .iconContent2 {
  grid-row-start: 1;
  grid-column-start: 2;
}
.BlockContent .iconContent3 {
  grid-row-start: 2;
  grid-column-start: 1;
}
.BlockContent .iconContent4 {
  grid-row-start: 2;
  grid-column-start: 2;
}
.BlockContent .icone1 {
  position: absolute;
  transform: rotate(-45deg);
}
.BlockContent .icone2 {
  position: absolute;
  transform: rotate(-45deg);
}
.BlockContent .icone3 {
  transform: rotate(-45deg);
  position: absolute;
}
.BlockContent .icone4 {
  transform: rotate(-45deg);
  position: absolute;
}

.btnBlanc {
  display: flex;
  width: 20.34375vw;
  gap: 1.328125vw;
}
@media (max-width: 768px) {
  .btnBlanc {
    width: 80%;
    margin-left: 10%;
    justify-content: space-between;
  }
}
.btnBlanc div {
  cursor: pointer;
  width: 4.453125vw;
  content: "";
  display: block;
  height: 6px;
  margin-top: 6vh;
  background-color: white;
}
@media (max-width: 768px) {
  .btnBlanc div {
    width: 20%;
    margin-top: 2.2vh;
    margin-bottom: 4vh;
  }
}

/*# sourceMappingURL=tarif.module.css.map */
