@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.galery{
  left: 23.578125vw;
  top: 22.31686541737649vh;
  width: 63.421875vw;
  height: 76.42248722316866vh;
  position: absolute;  
  z-index: 1000;
  
}

.titleContain {
  margin-left: 43.81875vw;
  width: 39.0625vw;
  color: white;
  font-family: Roboto, Regular;
  @media (max-width: 450px){
    margin-left: 5%;
    width: 85%;
  }
  
  h1:after{
    content: "";
    display: block;
    height: 3px;
    background-color: white;
    background-image: linear-gradient(to right, white 20%, #F26633 20%, #F26633 40%, white 40%);
  }
  h1{
    font-size: 5.814310051107325vh;
    @media (max-width: 450px){
    font-size: 3.4071550255536627vh;
    width: 85%;
    }
  }
}
.buttonGalerie{
  align-self: center;
  border: #F26633;
  border-radius: 20px;
  background-color: #F26633;
  color: white;
  height: 3.0664395229982966vh;
  width: 9.140625vw; 
}

.BlockContent { 
  font-family: Roboto, Regular;
  font-size: 14px;  
  display: flex;
  color: white;
  @media (max-width: 450px){
    flex-direction: column;
  }
  
  
  .iconeMenu{
    display: grid;
    grid-template-columns: repeat(2, 55px);
    grid-template-rows: repeat(2, 55px);
    transform: rotate(45deg);
    gap: 1.5195741056218059vh;
    margin: 5vh;
    width: 110px;
    height: 110px;
    @media (max-width: 450px){
      align-self: center;
    }
    div{
      background-color: #F26633;
      color: white;
      border-radius: 8px;
      height: 50px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    div:hover{
        transform: scale(1.2);
        background-color: white;
        color: #F26633;
        border: #F26633 solid 4px;
        @media (max-width: 450px){
          margin-top: -1vh;
        }
    }
}
.contenu{
  h1{
    color: #F26633;
  }
  @media (max-width: 450px){
    text-align: center;
    button{
      margin: 2vh;
    }
  }
}
.iconContent1{
  grid-row-start: 1;
  grid-column-start: 1;
}
.iconContent2{
  grid-row-start: 1;
  grid-column-start: 2;
}
.iconContent3{
  grid-row-start: 2;
  grid-column-start: 1;
}
.iconContent4{
  grid-row-start: 2;
  grid-column-start: 2;
}
.icone1{
  position: absolute;
  transform: rotate(-45deg);
}
.icone2{ 
  position: absolute;
  transform: rotate(-45deg);
}
.icone3{  
  transform: rotate(-45deg);
  position: absolute;
}
.icone4{  
  transform: rotate(-45deg);
  position: absolute;
}
    
    
  
}

