@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.galery {
  left: 23.578125vw;
  top: 22.3168654174vh;
  width: 63.421875vw;
  height: 76.4224872232vh;
  position: absolute;
  z-index: 1000;
}

.titleContain {
  margin-left: 43.81875vw;
  width: 43.0625vw;
  color: white;
  font-family: Roboto, Regular;
  line-height: 1;
  text-transform: uppercase;
}
@media (max-width: 450px) {
  .titleContain {
    margin-left: 5%;
    width: 85%;
  }
}

.active {
  transform: scale(1.3);
  background-color: white !important;
  border: #F26633 solid 4px !important;
}
.titleContain h1:after {
  content: "";
  display: block;
  height: 3px;
  margin-top: 3vh;
  background-color: white;
  background-image: linear-gradient(to right, white 20%, #F26633 20%, #F26633 40%, white 40%);
}
.titleContain .title span {
  display: block;
}
.titleContain h1 {
  font-size: 40px;
  font-weight: normal;
}

.buttonGalerie {
  align-self: center;
  border: #F26633;
  border-radius: 20px;
  background-color: #F26633;
  color: white;
  height: 3.066439523vh;
  width: 9.140625vw;
}

.BlockContent {
  font-family: Roboto, Regular;
  justify-content: space-between;
  column-gap: 2.5vw;
  font-size: 14px;
  display: flex;
  color: white;
}
@media (max-width: 450px) {
  .BlockContent {
    flex-direction: column;
    row-gap: 5vh;
    margin-top: 1vh;
  }
}
.BlockContent .iconeMenu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  transform: rotate(45deg);
  gap: 1vh;
  margin-right: 2.8vw;
  width: 10.2214650767vh;
  height: 10.2214650767vh;
  align-self: flex-start;
  padding-top: 20px;
  margin-left: 2vw;
}

.contenu {
  margin-left: -2.5vw;
}

@media (max-width: 450px) {
  .BlockContent .iconeMenu {
    align-self: center;
  }
}
.BlockContent .iconeMenu div {
  background-color: #F26633;
  border: #F26633 solid 4px;
  border-radius: 4px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.BlockContent .iconeMenu div:hover {
  transform: scale(1.3);
  background-color: white;
  border: #F26633 solid 4px;
}



.BlockContent .iconeMenu div:active {
  transform: scale(1.3);
  background-color: white !important;
  border: #F26633 solid 4px !important;
}

@media (max-width: 450px) {
  .BlockContent .iconeMenu div:hover {
    margin-top: -1vh;
  }
}
.BlockContent .iconeMenu div:hover .ic1 {
  display: block;
}
.BlockContent .iconeMenu div:hover .ic2 {
  display: block;
}
.BlockContent .iconeMenu div:hover .ic3 {
  display: block;
}
.BlockContent .iconeMenu div:hover .ic4 {
  display: block;
}
.BlockContent .iconeMenu div:hover .ic12 {
  display: none;
}
.BlockContent .iconeMenu div:hover .ic22 {
  display: none;
}
.BlockContent .iconeMenu div:hover .ic32 {
  display: none;
}
.BlockContent .iconeMenu div:hover .ic42 {
  display: none;
}
.BlockContent .iconeMenu img {
  width: 35px;
  height: auto;
}
.BlockContent .contenu {
  margin-top: 1vh;
}
.BlockContent .contenu h1 {
  color: #F26633;
}
@media (max-width: 450px) {
  .BlockContent .contenu {
    text-align: center;
  }
  .BlockContent .contenu button {
    margin: 2vh;
  }
}
.BlockContent .iconContent1 {
  grid-row-start: 1;
  grid-column-start: 1;
}
.BlockContent .iconContent2 {
  grid-row-start: 1;
  grid-column-start: 2;
}
.BlockContent .iconContent3 {
  grid-row-start: 2;
  grid-column-start: 1;
}
.BlockContent .iconContent4 {
  grid-row-start: 2;
  grid-column-start: 2;
}
.BlockContent .icone1 {
  position: absolute;
  transform: rotate(-45deg);
}
.BlockContent .icone2 {
  position: absolute;
  transform: rotate(-45deg);
}
.BlockContent .icone3 {
  transform: rotate(-45deg);
  position: absolute;
}
.BlockContent .icone4 {
  transform: rotate(-45deg);
  position: absolute;
}
.BlockContent .ic1 {
  display: none;
}
.BlockContent .ic2 {
  display: none;
}
.BlockContent .ic3 {
  display: none;
}
.BlockContent .ic4 {
  display: none;
}

/*# sourceMappingURL=tarif.module.css.map */
