@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.galery{
  left: 23.578125vw;
  top: 22.31686541737649vh;
  width: 63.421875vw;
  height: 76.42248722316866vh;
  position: absolute;  
  z-index: 1000;
  
}

.titleContain {
  margin-left: 43.81875vw;
  width: 39.0625vw;
  color: white;
  font-family: Roboto, Regular;
  h1:after{
    content: "";
    display: block;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: white;
    background-image: linear-gradient(to right, white 20%, #F26633 20%, #F26633 40%, white 40%);
    
  }
}
.button{
  align-self: center;
  border: #F26633;
  border-radius: 20px;
  background-color: #F26633;
  color: white;
  height: 3.0664395229982966vh;
  width: 9.140625vw; 
}

.BlockContent {
  position: absolute;  
  font-family: Roboto, Regular;
  font-size: 14px;  
  width: 48.90625vw;
  height: 54.68483816013629vh;
  display: flex;
  
  justify-content: space-around;
  gap: 2vw;
  color: white;
  
  
  .iconeMenu{
    margin-left: 2vw;
    margin-top: 1.7vh;
    height: 110px;
    width: 110px;
    display: grid;
    grid-template-columns: repeat(2, 55px);
    grid-template-rows: repeat(2, 55px);
    transform-origin : center;
    transform: rotate(45deg);
    row-gap: 1.5195741056218059vh;
    column-gap: 0.75375000000000006vw;
    div{
        background-color: #F26633;
        color: white;
        border-radius: 8px;
        height: 8.517887563884157vh;
        width: 3.90625vw;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    div:hover{
        transform: scale(1.2);
        background-color: white;
        color: #F26633;
        border: #F26633 solid 4px;
    }
}
.iconContent1{
    margin: auto;
    grid-row-start: 1;
    grid-column-start: 1;
  }
.iconContent2{
    margin: auto;
    grid-row-start: 1;
    grid-column-start: 2;
  }
.iconContent3{
    margin: auto;
    grid-row-start: 2;
    grid-column-start: 1;
  }
.iconContent4{
    margin: auto;
    grid-row-start: 2;
    grid-column-start: 2;
  }
  .icone1{
      position: absolute;
      transform: rotate(-45deg);
    }
  .icone2{ 
      position: absolute;

      transform: rotate(-45deg);
    }
  .icone3{  
      transform: rotate(-45deg);
      position: absolute;
    }
  .icone4{  
      transform: rotate(-45deg);
      position: absolute;
    }
    .description{
        overflow: hidden;
        height: 26.255543822597676vh;
        width: 27.395833333333332vw;
        margin-left: 12.569270833333333vw;
        margin-top: 2vh;
    }
    
  
}

