@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
  display: block;
  width: 46.875vw;
  
  @media (max-width: 450px){
    width: 100%;
    display: flex;
  }
}

a{
  text-decoration: none;
}
.lastArticle{
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  @media (max-width: 450px){
      flex-direction: column;
  }
  .imgLastArticle{
    width: 30.390625vw;
    height: 43.95229982964225vh;
    justify-self: left;
    @media (max-width: 450px){
      width: 90%;
      margin-left: 5%;
      height: auto;
      justify-self: center;
    }
  }
  .lastArticleContain{
    height: 43.95229982964225vh;
    width: 14.6875vw;
    @media (max-width: 450px){
      width: 90%;
      margin-left: 5%;
      height: auto;
      justify-self: center;
    }
    .dataWrapper{
      display: inline-flex;
      gap: 0.5vw;
      .publish{
        color: white;
        display: inline-flex;
        gap: 0.5vw;

      }
    }
    .articleTitle {
      color: white;
    }
    .description{
      color: white;
    }
  }
}
.date {
  font-size: var(--font-small-size);
  line-height: var(--font-small-line-height);
  color: var(--color-gray);
}






