@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.titleContain {
    text-align: left;
    margin-left:  27.65625vw;
    width: 47.03125vw;
    color: white;
    font-family: Roboto, Regular;
    h1:after{
        content: "";
        display: block;
        bottom: 0;
        left: 0;
        height: 3px;
        background-color: white;
        background-image: linear-gradient(to right, white 40%, #F26633 40%, #F26633 60%, white 60%);
        
      }
    
}
.blogContain{
    display: flex;
    flex-direction: column;
    width: 47.1875vw;
    font-family: Roboto, Regular;
    gap: 1.875vw;
    .pathContain{ 
        display: inline-flex;
        color: white;
        .articleTitle{
            color: #F26633;
        }
    }
    .imgArticle{
        width: 47.1875vw;
        height: 68.31345826235093vh;
    }
    P{
        color: white;
    }
    h3{
        color: white;
    }
    .publish{
        display: inline-flex;
        gap: 0.5vw;
        border-bottom: solid white 3px;
        span{
            color: white;
            display: inline-flex;
            gap: 0.5vw;
        }
    }
    .paraWrapper{
        height: 140.03407155025553vh;
        width: 46.71875vw;
        .para1{
            grid-area: 1 / 1 / 2 / 3;
        }
        .imgPara{
            float: right;
            width: 24.140625vw;
            height: 40.885860306643956vh;
        }
    }
}
//aside bar thématique
.aside {
    
    display: flex;
    flex-direction: column;
    gap: 1.875vw;
    font-family: Roboto, Regular;
    color: white;
    width: 19.21875vw;
  }
  .aside .catWrapper {
    
    display: flex; 
    flex-direction: column;
    width: 19.21875vw;
    gap: 4.7700170358vh;
    overflow: hidden;
  }
  .aside .catWrapper .categorie {
    width: 19.21875vw;
    max-height: 27.7683134583vh;
  }
  .aside .catWrapper .categorie h2 {
    width: 19.21875vw;
    height: 9.562180579216355vh;
    position: relative;
    top: -17.206132879045995vh;
    padding-top: 1vh;
    text-align: center;
    background: transparent;
    opacity: 0.9;
    backdrop-filter: blur(30px);
  }
  .aside .categorieTitle {
    text-align: center;
  }
  .aside .catWrapper .categorie .imgTheme{
    width: 19.21875vw;
    height: 27.7683134583vh;
  }
