@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.titleContain {
  text-align: left;
  margin-left: 27.65625vw;
  width: 47.03125vw;
  color: white;
  font-family: Roboto, Regular;
  line-height: 1;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .titleContain {
    margin-left: 5%;
    width: 85%;
  }
}
.titleContain h1:after {
  content: "";
  display: block;
  height: 3px;
  margin-top: 3vh;
  background-color: white;
  background-image: linear-gradient(to right, white 40%, #F26633 40%, #F26633 60%, white 60%);
}
.titleContain h1 {
  font-size: 40px;
}
@media (max-width: 768px) {
  .titleContain h1 {
    width: 90%;
  }
}

.blogContain {
  display: flex;
  flex-direction: column;
  font-family: Roboto, Regular;
  width: auto;
  
}
@media (max-width: 768px) {
  .blogContain {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;

  }
}
@media (max-width: 768px) {
  .subtitle{
    order: 2;
  }
}
.pathContain {
  display: flex;
  color: white;
  width: auto;
  font-size: 17px;
  line-height: 1;
}
.pathContain h2{
  font-size: 17px;
  
}
@media (max-width: 768px) {
  .pathContain {
    justify-content: center;
    margin-bottom: 2vh;
    width: 100%;
    display: flex;
    column-gap: 2vw;
  }
}
.pathContain .articleTitle {
  color: #F26633;
}
.blogContain .imgArticle {
  width: 100%;
  height: auto;
  
}
@media (max-width: 768px) {
  .blogContain .imgArticle {
    width: 90%;
    height: auto;
  }
}
.blogContain P {
  color: white;
}
.blogContain h3 {
  color: white;
}
.blogContain .publish {
  display: inline-flex;
  gap: 0.5vw;
  border-bottom: solid white 3px;
}
@media (max-width: 768px) {
  .blogContain .publish {
    width: 90%;
    height: auto;
    order: 1;
  }
}
.blogContain .publish span {
  color: white;
  display: inline-flex;
  gap: 0.5vw;
}
.blogContain .paraWrapper {
  height: 140.0340715503vh;
  width: 46.71875vw;
  font-family: Roboto, Regular;
}
@media (max-width: 768px) {
  .blogContain .paraWrapper {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
}
.blogContain .paraWrapper .para1 {
  grid-area: 1/1/2/3;
  font-family: Roboto, Regular;

}
@media (max-width: 768px) {
.blogContain .paraWrapper .para1 {
    font-family: Roboto, Regular;
    order: 1;
  }
}
.blogContain .paraWrapper .imgPara {
  float: right;
  width: 24.140625vw;
  height: 40.8858603066vh;
}
@media (max-width: 768px) {
  .blogContain .paraWrapper .imgPara {
    width: 100%;
    height: auto;
    float: none;
    order: 2;
  }
}

.aside {
  display: flex;
  flex-direction: column;
  gap: 1.875vw;
  font-family: Roboto, Regular;
  color: white;
  width: 19.21875vw;
}
@media (max-width: 768px) {
  .aside {
    display: block;
    width: 100%;
  }
}

.aside .catWrapper {
  display: flex;
  flex-direction: column;
  width: 19.21875vw;
  gap: 4.7700170358vh;
  overflow: hidden;
}
@media (max-width: 768px) {
  .aside .catWrapper {
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
    gap: 1vh;
  }
}

.aside .catWrapper .categorie {
  width: 19.21875vw;
  max-height: 27.7683134583vh;
}
@media (max-width: 768px) {
  .aside .catWrapper .categorie {
    width: 100%;
    height: auto;
    margin-left: 3vw;
  }
}

.aside .catWrapper .categorie h2 {
  width: 19.21875vw;
  position: relative;
  top: -17.206132879vh;
  text-align: center;
  background: transparent;
  opacity: 0.9;
  backdrop-filter: blur(30px);
}


.categorieTitle {
  text-align: center;
  color: white;
}

.aside .catWrapper .categorie .imgTheme {
  width: 19.21875vw;
  height: 27.7683134583vh;
}

@media (max-width: 768px) {
  .aside {
    display: block;
  }
  .aside .catWrapper {
    flex-direction: row;
    overflow-x: scroll;
    gap: 2vh;
  }
  .aside .catWrapper .categorie {
    height: auto;
  }
  .aside .catWrapper .categorie .imgTheme {
    width: 50vw;
    height: 21.1243611584vh;
  }
  .aside .catWrapper .categorie h2 {
    width: auto;
    
  }
  .categorie {
    cursor: pointer;
    height: 4vh;
  }
  .categorieTitle{
    font-size: 17px;
  }
}

/*# sourceMappingURL=blog-post.module.css.map */
