@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
  font-family: Roboto, Regular;
  
}

a{
  text-decoration: none;
  color: white;
}
.lastArticle{
  display: flex;
  overflow: hidden;
  height: 50.95229982964225vh;
  gap: 2vh;
  
  @media (max-width: 450px){
      flex-direction: column;
      height: auto;
  }
  .imgLastArticle{
    width: 30.390625vw;
    height: auto;
    @media (max-width: 450px){
      width: 90%;
      margin-left: 5%;
      
    }
  }
  .lastArticleContain{
    
    @media (max-width: 450px){
      width: 90%;
      margin-left: 5%;
      
    }
    .dataWrapper{
      display: inline-flex;
      gap: 0.5vw;
      .publish{
        color: white;
        display: inline-flex;
        gap: 6px;
      }
    }
  }
}
.date {
  font-size: var(--font-small-size);
  line-height: var(--font-small-line-height);
  color: var(--color-gray);
}






