@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';





.grid {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.875vw;
  font-family: Roboto, Regular;    
  color: white;
  @media (max-width: 450px){
    display: flex;
    flex-direction: column;
  }

  .article{
    @media (max-width: 450px){
      width: 77%;
      margin-left: 5%;
    }
    
    a{
      text-decoration: none;
      color: white;
    }
  }
}



