@import '../styles/custom-media.css';

.root {
  box-sizing: border-box;
  width: 1366px;
  height: 768px;
  padding: 1.5em;
  margin: 0 auto;
  
  
  
  

  @media (--media-min-small) {
    padding: 2em;
  }
  
}

