@import '../styles/custom-media.css';

.root {
  box-sizing: border-box;
  width: 1366px;
  max-height: 1978px;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  margin: 0 auto;
  
  
  
  

  @media (--media-min-small) {
    padding: 2em;
  }
  
}

