.root{}

.backg{
    top: 131px;
    left: 353px;
    width: 735px;
    height: 566px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    position: absolute;
}

.backg h1{
    color: black;
    text-align: center;
}

.center {
    display: flex !important;
    position: relative !important;
    justify-content: center !important;
    right: 35px;
}
