@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.root {
  font-family: 'Roboto', sans-serif;
  font-size: 2.72572402044293vh;
  display: flex;
  height: 11.584327086882453vh;
  
  @media (max-width: 450px) {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    height: 123px;
  }


  .nav{
    display: flex;
    align-self: center;
    width: 100%;
    @media (max-width: 450px) {
      display: none;
    }

    div{
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        width: 100%;
        div * {
            text-decoration: none;
            color: #ffffff;
        }
        div :hover{
            color: #F26633;
        }
        div :focus {
            color: #F26633;
        }
        
      }
  }
  
  .logo{
    align-self: center;
    @media (max-width: 450px) { 
      margin-right: 8.328125vw;
    }
  }
  
}





.toggleNavButton {
  appearance: none;
  font-size: 25px;
  border: none;
  background: none;
  margin: 0;
  padding: calc(14 / 17 / 2 * 1rem);
  outline: none;
  color: inherit;
  display: none;
  

  & svg {
    display: block;
    fill: inherit;
  }

  @media (max-width: 450px) {
    display: block;
    color: white;
    justify-self: right;
    
  }
}



.showNav {
  display: inline-block;
}
