@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.root {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  position: relative;
  top: 6.25vh;
  display: flex;
  gap: 10%;
  justify-content: space-between;
  background-color: transparent;
  


  .nav{
    display: flex;
    align-self: center;
    width: 100%;

    ul{
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        width: 100%;
        li * {
            text-decoration: none;
            color: #ffffff;
        }
        li :hover{
            color: #F26633;
        }
        li :focus {
            color: #F26633;
        }
        
      }
  }
  
}





.toggleNavButton {
  appearance: none;
  font-size: 25px;
  border: none;
  background: none;
  margin: 0;
  padding: calc(14 / 17 / 2 * 1rem);
  outline: none;
  color: inherit;
  

  & svg {
    display: block;
    fill: inherit;
  }

  @media (--media-min-small) {
    display: none;
  }
}



.showNav {
  display: inline-block;
}
