@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
  position: relative;
  display: flex;
  justify-content: space-between;

  .logo{
      background-color: green;
    }
  .nav{
      background-color: purple;
      width: 100%;

        ul{
            display: flex;
            justify-content: space-around;
        }
    }
  
}





.toggleNavButton {
  appearance: none;
  font-size: 25px;
  border: none;
  background: none;
  margin: 0;
  padding: calc(14 / 17 / 2 * 1rem);
  outline: none;
  color: inherit;
  

  & svg {
    display: block;
    fill: inherit;
  }

  @media (--media-min-small) {
    display: none;
  }
}



.showNav {
  display: inline-block;
}
