@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';


.wrapper {
  background: url("../images/background1.jpg"),linear-gradient(#35383F, #35383F);
  background-repeat: no-repeat;
  background-size:100vw 110vh, 100% 100%;

}
@media (max-width: 450px){
  .wrapper{
    opacity: 0.75;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
  }
  .wrapper Footer.root{
    background-color: #fff;
  }
    
}
.content{
  min-height: 80vh;
}





