@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';


.wrapper {
  background: linear-gradient(transparent 100%,#35383F 92%, #A49D9D 99%),
      url("../images/background1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  
}
.wrapperBlur{
  background: #b80606 0% 0% no-repeat padding-box;
  opacity: 0.67;
  backdrop-filter: blur(30px);
}
.content {
  top: -13px;
  left: 0px;
  max-width: 1366px;
  max-height: 1978px;  
}

.footer {
  border-top: 1px solid var(--color-very-light-gray);

  @nest & a {
    color: inherit;
    text-decoration: none;

    @media (hover: hover) {
      @nest &:hover {
        color: var(--color-accent);
      }
    }
  }
}

.footerWrapper {
  box-sizing: border-box;
  max-width: 960px;
  padding: 4.5em 1.5em 1.5em;
  margin: 0 auto;

  @media (--media-min-small) {
    padding: 6em 2em 2em;
  }
}

.companyAddress {
  text-align: center;
  margin: 0 0 1rem;
}

.siteInfo {
  text-align: center;
  font-size: var(--font-small-size);
  line-height: var(--font-small-line-height);
}
