@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';


.wrapper {
  background: url("../images/background1.jpg"),linear-gradient(#35383F, #35383F);
  background-repeat: no-repeat;
  background-size:100vw 100vh, 100% 100%;

}
@media (max-width: 450px){
  .wrapper{
    opacity: 0.85;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    background-size:100vw 100vh, 100% 100%;
  }
  Header {
    z-index: 999;
  }
  .content {
    z-index: -1;
  }
    
}
.content{
  min-height: 78.8vh;
  
}





