@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';
.headline {
  font-size: var(--font-micro-size);
  line-height: var(--font-micro-line-height);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.grid {
  font-size: 14px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.875vw;
  font-family: Roboto, Regular;
  color: white;
  list-style-type: none;
}
@media (max-width: 450px) {
  .grid {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 450px) {
  .grid .article {
    width: 75%;
    margin-left: 5%;
    height: auto;
    justify-self: center;
  }
}
.grid .article a {
  text-decoration: none;
  color: white;
}

