@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.root{
    display: grid;
    grid-template-columns: 46.875vw 1fr;
    column-gap: 3vw;
    margin-left: 27.65625vw;
    @media (max-width: 450px){
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
    }
}