@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



.root{
    margin-left: 43.802083333333336vw;
    width: 49.53125vw;
    display: flex;
    flex-direction: column;
    @media (max-width: 450px){
        margin-left: 2.109375vw;
        margin-right: 3.4296875vw;
        width: fit-content;
    }
}

