@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



.root{
    
    width: 33.020833333333336vw;
    height: 33.68532206969377vh;  
    display: flex;
    flex-direction: column;
    
}
    
