@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



.root{
    margin-left: 43.802083333333336vw;
    margin-top: 1.7423444vh;
    width: 33.020833333333336vw;
    height: 43.68532206969377vh;  
    display: flex;
    flex-direction: column;
    
}

    
